.main-lista{
    color: limegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-titulos{
    color: deepskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

.header-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.header-nav__item{
    display: inline-block;
}

.header-nav__item a{
color:blanchedalmond;
font-family: 'Courier New', Courier, monospace;
padding: 5px;
border-radius: 2px;
text-decoration: none;
}

.header-nav__item a:hover{
    color: chocolate;
}

.header-nav__item a:active{
    color: darkred;
}

.header-nav__item a::after{
    content:" / ";
}